<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Test</title>
	</head>
	<body>

		<h3>login済</h3>

		<a href="/tatsuki">画像投稿へ</a>
		<a href="/logout">OAuth Logout</a>

	</body>
</html>
